body {
    font-family: 'Roboto', sans-serif !important;
}

.subtitle {
    color: #fff;
    font-size: 0.8rem;
}

#banner {
    background-image: url('./images/cropped-white-cup-od-coffee-mac-code.jpg');
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 23rem;
    max-height: 23rem;
}


#profile {
    max-width: 100%;
    min-width: 100px;
    height: auto;
}

p {
    font-size: 0.9rem !important;
}